{% extends "base.html" %}

{% block content %}

<div class="container">
    <br/>
    <h1>Welcome to the Radiology Literacy Initiative!</h1>
    <br/>
    <p>We are the very first AI-powered Radiology Literacy Initiative tool. Our website is meant to be a proof of concept, dedicated to improving
        health literacy by providing accessible and easy-to-understand health information to patients. We understand that medical jargon can be confusing and intimidating. We
        believe that everyone should have access to clear and reliable health information, so they can make more informed health decisions. We hope this resource becomes an invaluable resource for patients, families, hospitals, and providers. </p>
    <p>Thank you for choosing our website as one of your sources for radiology information. We are committed to providing
        high-quality, accessible, and engaging health information for patients.</p>
    <p> This project was created by Rushabh Doshi, a medical student at Yale, Kanhai Amin, a Yale undergraduate student, and Pavan Khosla, a Yale medical student.</p>
    <span style="color: red">Disclaimer: The information provided by this tool is for educational purposes only and is not a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified healthcare provider with any questions you may have regarding a medical condition. This tool is powered by OpenAI and the accuracy of the information generated is dependent on the data and algorithms used by the OpenAI API. We make no guarantees or warranties about the accuracy, completeness, or suitability of the information provided by this tool. By using this tool, you acknowledge and agree that we shall not be liable for any direct, indirect, incidental, consequential, or other damages arising from or related to your use of the tool or the information provided by the tool.</span>

</div>
{% endblock %}